 form.signup {
  background: transparent;
  width: 40%;
  margin-top: 4%;
  margin-left: 30%;
  margin-bottom: 2%;
  margin-right: 30%;
  position: static;
  color: grey;
  border: 1px solid #2ECCFA;
  border-radius: 5px;
}

 form.signup header {
  padding: 20px 20px;
  color: grey;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}

 form.signup label {
  margin-left: 3%;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 1%;
  position: relative;
  font-size: 20px;
}

 form.signup input {
  background: transparent;
  display: block;
  width: 85%;
  margin-left: 3%;
  padding: 1% 2%;
  font-size: 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #81DAF5;
  color: grey;
}

 form.signup input ~ #male {
  display: inline;
  width: 3%;
  font-size: 20px;
  margin-left: 3%;
}

 form.signup input ~ #female {
  display: inline;
  width: 3%;
  font-size: 20px;
  margin-left: 3%;
}

 form.signup select {
  width: 25%;
  color: grey;
  margin-left: 3%;
  padding: 1% 2%;
  font-size: 20px;
  border-radius: 3px;
  background: transparent;
  color: darkgrey;
  border: 1px solid #81DAF5;
}

 form.signup .help {
  margin-left: 3%;
  margin-top: 1%;
  font-size: 18px;
  color: grey;
}

 form.signup button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  background: #81DAF5;
  font-family: inherit;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
}

 form.signup button:hover {
  background: #2ECCFA;
}

@media screen and (max-width: 1200px) {
  form.signup {width: 40%; margin-top: 2%; margin-left: 30%; margin-bottom: 2%; margin-right: 30%;}
}
@media screen and (max-width: 992px) {
  form.signup {width: 100%; margin-top: 0px; margin-left: 0px; margin-bottom: 0px; margin-right: 0px;}
}
@media screen and (max-width: 768px) {
  form.signup {width: 100%; margin-top: 0px; margin-left: 0px; margin-bottom: 0px; margin-right: 0px;}
}

